.container{
    margin: 3rem auto;
    margin-bottom: 0;
}

.mapIcon{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

/* .descContainer{
    
} */


.infoContainer{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid gray;
}

.inputElements{
    margin: 1rem 0;
}


.bookingSectionContainer{

    margin: 0.5rem 0;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 1rem;

    /* margin-top: 0.5rem;
    padding: 1rem 2rem ;
    border-radius: 10px;
    background: linear-gradient(to top, #e0eafc, #c2d6f3); */
}